@media screen and (max-width:1366px) {
    header{
        width: 70%;
    }

    .slide-desc-container{
        bottom: 3rem !important;
    }
    .slide-desc{
        font-size: 5rem !important;
    }
    .slide-tagline{
        font-size: 2rem !important;
    }

    #sidebar{
        flex-basis: 30% !important;
    }

    #models-grid{
        justify-content: center;
    }

    .contact-wrapper{
        justify-content: space-between;
    }

    #service-form{
        width: 100% !important;
    }

    #bike-image-container, #main-image-container, #main-image-background{
        height: 60vh !important;
    }

    #bike-details-container{
        font-size: 1.5rem !important;
    }

    #bike-tech-container{
        bottom: 2rem !important;
    }
    
    .bike-icon{
        width: 3rem !important;
        height: 3rem !important;
    }

    .bike-data{
        font-size: 1rem;
    }

    .bike-label{
        font-size: 0.9rem !important;
    }

    .bike-detail{
        width: 8rem !important;
    }
}
@media screen and (max-width:1024px) {
    header{
        width: 80%;
    }

    #header-container{
        left: 20px !important;
    }
    main{
      width: 100%;
    }
    .contact-info{
        margin-right: 170px;
    }
    #mobile-header{
        display: none;
    }

    .bike-detail{
        width: 7rem !important;
    }

    .main-image{
        background-repeat: no-repeat !important;
        background: $dark-shade;
    }
}

@media screen and (min-width:1024px) {
    #mobile-header{
        display: none;
    }
}

@media screen and (max-width:915px) {


    .desktop-logo{
        display: none;
    }

    #mobile-header{
        display: flex !important;
    }
    
    #header-container{
        display: none;
    }

    header{
        width: 100%;
        top: 0;
        left: 0;
        background: $dark-shade;
        border-bottom: 2px solid $main;
    }

    .hooper{
        height: 85vh !important;
    }

    main{
        width: 100%;
    }

    .home{
        margin-top: 50px;
    }

    .slide-img{
        background-size: contain !important;
        background-repeat: no-repeat;
        background-position: top !important;
    }
    .slide-desc-container{
        width: 90% !important;
        margin-left: 5%;
        bottom: 4rem !important;
    }
    .slide-desc{
        font-size: 2rem !important;
    }
    .slide-tagline{
        font-size: 1rem !important;
    }

    #home-contact-container{
        flex-flow: row wrap;
        justify-content: center;
    }
    #home-map{
        width: 300px;
        height: 300px;
        display: flex;
        flex-flow: column;
        margin: 0 1rem;
        align-items: center;
        box-sizing: border-box;
    }

    .about{
        width: 95%;
        margin: auto;
        h1{
            text-align: center;
        }
    }

    .contact-wrapper{
        flex-flow: column;
    }

    .contact-info{
        width: 95% !important;
        align-items: center;
        display: flex;
        flex-flow: column;
        h2{
            display: none;
        }
    }

    .contact-info h2{
        width: 90% !important;
    }
    .contact-info-wrapper{
        flex-flow: column !important;
    }

    .social-media{
        flex-flow: column;
    }

    .maps{
        width: 95% !important;
        margin: auto;
    }

    #preload-logo{
        display: none
    }

    @import "phone.landscape.model.media";
    @import "phone.service.media";
    
}

@media screen and (max-width:412px) {
    #header-container{
        display: none;
    }

    main{
        width: 100%;
    }

    #mobile-header{
        display: flex !important;
    }

    
   @import "phone.home.media";
   @import "phone.modele.media";
   @import "phone.about.media";
   @import "phone.contact.media";
   @import "phone.rabla.media";
   @import "phone.service.media";
   @import "phone.model.media";

    #footer-container{
        flex-flow: column;   
    }

    .footer-wrapper{
        margin-bottom: 2rem;
    }
}