@font-face
{
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src: url('~@/assets/fonts/OpenSans-Regular.ttf');
}


$light-shade: #F4EDF0;
$light-accent: #D79566;
$main: #B93232;
$dark-accent: #847D96;
$dark-shade: #282D3B;

$primary: #be3836;
$info: #272c40;
$success: #6e8b48;
$warning: #ec7b10;
$danger: #f44336;