#bike-info{
    flex-flow: column wrap;
}

#bike-image-container{
    width: 100% !important;
    height: 80vh !important;
    filter: drop-shadow(0px 10px 0px $dark-shade) drop-shadow(0px 10px 0px $main) !important;
}

#bike-image, .bike-image-gradient, .bike-image-background{
    clip-path: polygon(100% 100%, 50% 75%, 0 100%, 0 0, 100% 0) !important;
}

#bike-details-container{
    font-size: 1rem !important;
    margin: 1rem !important;
    text-align: justify;
}

#bike-tech-container{
    bottom: 8rem !important;
}

.bike-detail{
    width: 5rem !important;
}

.bike-data{
    font-size: 0.9rem !important;
}

.bike-label{
    font-size: 0.8rem !important;
}

.bike-icon{
    width: 2rem !important;
    height: 2rem !important;
}

#main-image-container, #main-image-background{
    width: 100% !important;
    height: 50vh !important;
}

#main-image-container{
    margin-left: 0 !important;
    margin-top: 0;
}

#main-image-background{
    filter: drop-shadow(0px -10px 0px $dark-shade) drop-shadow(0px -10px 0px $main) !important;
}

.main-image, #main-image-bg{
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0 100%) !important;
    background-color: $dark-shade;
    height: fit-content;
}

.main-image{
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat;
}

#bike-price{
    flex-flow: column;
    align-items: center !important;
}
#bike-price span:nth-child(1) {
    margin-right: 0 !important;
}

#bike-price span:nth-child(3){
    position: absolute;
    margin-top: 7rem;
    right: 2rem;
}

#gallery-wrapper, #similar-models-container{
    flex-flow: column;
    align-items: center;
}

.gallery-img{
    width: 200px !important;
    margin-top: 3rem !important;
}

#gallery-wrapper .gallery-img img {
    clip-path: none !important;
}