.contact-wrapper{
    flex-flow: column;
}

.contact-info{
    width: 95% !important;
}

.contact-info h2{
    width: 90% !important;
}
.contact-info-wrapper{
    flex-flow: column !important;
}

.social-media{
    flex-flow: column;
}

.maps{
    width: 95% !important;
    margin: auto;
}